@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    background-color: #FFFFFF;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
header{
    width: 100%;
    padding: 30px;
    margin-bottom: 10px;
}
header p{
    margin-top: 20px;
    font-size: 17px;
    text-align: justify;
}
header h1{
    color: #047480;
    font-size: 38px;
    text-align: justify;
    
}
.info{
    background-color: #E2E1E1;
    padding: 20px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.info h1{
    color: #047480;
}
.info p{
    font-size: 18px;
}
.calculo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #047480;
    width: 100%;
    height: 400px;
    padding: 30px;
    align-items: center;
}
.calculo h2{
    color:#E2E1E1;
}
.form{
    display: flex;
    padding: 0px;
    width: 100%;
    gap: 3px;
}
.form input{
    padding: 10px;
    width: 100%;
}
.calculo button{
    background-color: orangered;
    padding: 10px;
    font-size: 16px;
    width: 150px;
    color: white;
    cursor: pointer;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
}
.calculo button:hover{
    background-color: orange;
    color:#cc0033;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.banner img{
    width: 100%;
}

#popup {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px 2px #000;
    padding-bottom: 5px;
  }
  #close {
    width: 100px;
    background-color: #cc0033;
    color: #ffffff;
    border: none;
    margin-left: 5px;
  }

@media (max-width: 800px)
{
    header h1{
        color: #047480;
        font-size: 22px;
        text-align: justify;
    }
    header p{
        color: #047480;
        font-size: 16px;
        text-align: justify;
    }
    .info h1{
        color: #047480;
        font-size: 22px;
    }
    .info p{
        font-size: 16px;
    }
    .calculo h2{
        color:#E2E1E1;
        font-size: 14px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
}
